body {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	background: #068A4E;
	background: url('http://img.site-rater.com/snow-background.jpg');
	font-size: 1.0em;
}

a {
	text-decoration: none;
}

#page {
	border: 1px solid #ccc;
	width: 760px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);	
	background: #fafafa;
	margin-top: 20px;
	height: 620px;
}

.content {
	height: 500px;
	padding: 10px;
}

#content {
   padding: 0px 10px;
}

#mainheader {
	margin-top: 10px;
}

.congrats-text {
	color: red;
	font-size: 2.2em;
	font-weight: bold;
	margin: 5px 0px;
	text-align: center;
	text-shadow: 1px 1px #ccc;
}

.survey-title {
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

#subheader {
	padding: 15px 15px; 
	font-size: 0.8em;
	line-height: 1.5em;
	background: #f0f0f0;
	margin-top: 10px;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.7em;
	text-align: center;
	border-top: 1px solid #ccc;
}

/* --- Questions --- */

	#questions {
		margin: 30px 0px;
	}
	
	.question {
		clear: both;
		padding: 0px 20px;
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: center;
		display: block;
	}

	.question .option {
		padding: 0px 20px;
		text-align: left;
		display: inline-block;
		color: red;
		font-size: 1.4em;
		text-align: center;
	}

	.question .option input[type=radio] {
		margin-right: 10px;
	}

	.question .option-hover {
		color: green;
		cursor: pointer;
		text-decoration: underline;
	}
	
	#questions h1 {
		font-weight: bold;
		color: #ccc;
		font-size: 1.7em;
	}
	
	#questions h2 {
		color: #666;
	}
	
	#options {
		margin-top: 30px;
	}

/* --- Loading --- */

	#loading {
		text-align: center;
		margin: 100px 0px;
	}
	
	#loading h1 {
		margin-bottom: 30px;
	}

/* --- Offers --- */
	
	.offer.text-link {
		color: red;
	}
	
	.offer.text-link:hover {
		color: green;
		cursor: pointer;
		text-decoration: underline; 
	}
	
	#offers {
		text-align: center;
	}
	
	#offers-table {
		position: relative;
		top: -15px;
	}
	
	#offers_table {
		display: table; 
		width: 100%;
	}
	
	#offers_table .cell-wrapper {
		display: table-cell; 
		width: 33.3%; 
		text-align: center;
	}
	
	#offers_table .cell {
		border: 1px solid #ccc; 
		padding: 20px 0px; 
		margin: 0px 5px;
		box-shadow: 0 0 5px rgba(0,0,0,0.4);	
		background: white;
	}
	
	#offers_table .cell:hover {
		cursor: pointer;
	}
	
	#offers_table .offer-name {
		font-size: 1.1em; 
		font-weight: bold; 
		margin-bottom: 10px;
		color: green;
	}
	
	#offers_table .offer-image {
		height: 220px;
		width: 250px;
		display: table-cell;
		vertical-align: middle;
	}
	
	#offers_table .offer-qty {
		margin-bottom: 10px;
	}
	
	.claim-offer-button {
		color: white;
		padding: 5px 25px;
		display: block;
		margin: auto;
		text-align: center;
		background:#EF8F30;
		font-size: 1.3em;
		width: 100px;
		background: red;
	}
	
	.claim-offer-button:hover {
		cursor: pointer;
		background: green;
	}
	
	.selected {
		cursor: pointer;
		background: green;
	}

/* --- General Styles --- */

	.rounded-corners-lg {
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		-khtml-border-radius: 20px;
	}

	.rounded-corners-md {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-khtml-border-radius: 10px;
	}

	.rounded-corners-sm {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-khtml-border-radius: 5px;
	}